{% extends "products/base.html" %}

{% block content %}

<a href="{% url 'product_list' %}">← Back</a>

<div class="card">

    {% if product.product_image %}
        <img src="{{ product.product_image.url }}"
             alt="{{ product.name }}"
             style="
                width:100%;
                max-width:400px;
                max-height:300px;
                object-fit:cover;
                border-radius:12px;
                margin-bottom:20px;
             ">
    {% else %}
        <p style="color:#9aa4b2;">
            No product image uploaded.
        </p>
    {% endif %}

    <h2>{{ product.name }}</h2>

    <p>{{ product.description }}</p>

    <h3>RM {{ product.price }}</h3>

    <p><b>Stock Quantity:</b> {{ product.stock_quantity }}</p>

    {% if product.stock_quantity > 0 %}
        <p>
            <b>Status:</b>
            <span style="color:green;">In Stock</span>
        </p>
    {% else %}
        <p>
            <b>Status:</b>
            <span style="color:red;">Sold Out</span>
        </p>
    {% endif %}

    <p><b>Stall:</b> {{ product.stall.name }}</p>

    <p><b>Owner:</b>
        {{ product.stall.owner.name|default:"No owner" }}
    </p>

    <hr>

    {% if user.role == "organizer" or product.stall.owner.user == user %}

        <a href="{% url 'edit_product' product.id %}">
            Edit
        </a>

        <form method="POST" action="{% url 'delete_product' product.id %}">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>

    {% endif %}

</div>

{% endblock %}